<app-nav #nav></app-nav>
<section>
    <span>/* From Uiverse.io by abrahamcalsin */</span> <br>
    <span>/* From Uiverse.io by Ali-Tahmazi99 */</span> <br>
    <a href="https://www.flaticon.com/de/kostenlose-icons/daumen-hoch" title="daumen hoch Icons">Daumen hoch Icons erstellt von smashingstocks - Flaticon</a><br>

    <a href="https://www.flaticon.com/de/kostenlose-icons/email" title="email Icons">Email Icons erstellt von Any Icon - Flaticon</a><br>

    <a href="https://www.flaticon.com/de/kostenlose-icons/uber" title="uber Icons">Uber Icons erstellt von Tanah Basah - Flaticon</a><br>

    <span>https://www.freepik.com/</span><br>

    <a href="https://www.flaticon.com/de/kostenlose-icons/whatsapp" title="whatsapp Icons">Whatsapp Icons erstellt von Grafixpoint - Flaticon</a><br>

</section>
<app-footer></app-footer>