<section>
    <div class="leftCt">
        <a href="#">Impressum</a>
        <a href="#">Datenschutz</a>
        <a href="#">Credits</a>
    </div>
    <div class="rightCt">
        <a href="#">
            <div>
                <img src="" alt="">
            </div>
        </a>
        <a href="#">
            <div>
                <img src="" alt="">
            </div>
        </a>
        <a href="#">
            <div>
                <img src="" alt="">
            </div>
        </a>
    </div>
    
</section>
