<section>
    <div class="leftCt">
        <a [routerLink]="[ '/imprint' ]">Impressum</a>
        <a [routerLink]="[ '/privacy-policy' ]">Datenschutz</a>
        <a [routerLink]="[ '/credits' ]">Credits</a>
    </div>
    <div class="rightCt">
        <a href="#">
            <div>
                <img 
                [src]="hoveringFB ? '/assets/img/facebook-appHover.png' : '/assets/img/facebook-app.png'"
                (mouseenter)="hoveringFB = true" 
                (mouseleave)="hoveringFB = false" 
                alt="Facebook">
            </div>
        </a>
        <a href="#">
            <div>
                <img 
                [src]="hoveringInsta ? '/assets/img/kameraHover.png' : '/assets/img/kamera.png'"
                (mouseenter)="hoveringInsta = true" 
                (mouseleave)="hoveringInsta = false" 
                alt="Instagram">
            </div>
        </a>
        <a href="#">
            <div>
                <img 
                [src]="hoveringYT ? '/assets/img/youtubeHover.png' : '/assets/img/youtube.png'"
                (mouseenter)="hoveringYT = true" 
                (mouseleave)="hoveringYT = false" 
                alt="YouTube">
            </div>
        </a>
    </div>
    <div class="footerBanner">
        <div>
            <img src="" alt="">
            <span>Copyright 2024</span>
        </div>
        <div>
            <img src="" alt="">
            <span>Sie erreichen uns: MO - SA: 15:00 - 19:00 Uhr</span>
        </div>
    </div>
</section>