<section>
    <div class="leftCt">
        <a [routerLink]="[ '/imprint' ]">Impressum</a>
        <a [routerLink]="[ '/privacy-policy' ]">Datenschutz</a>
        <a [routerLink]="[ '/credits' ]">Credits</a>
    </div>
    <div class="rightCt">
        <a href="#">
            <div>
                <img src="" alt="">
            </div>
        </a>
        <a href="#">
            <div>
                <img src="" alt="">
            </div>
        </a>
        <a href="#">
            <div>
                <img src="" alt="">
            </div>
        </a>
    </div>
    
</section>
