section {
    background-color: #083049;
    height: 300px;
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center ;
    justify-content: space-between;
}

.leftCt {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.rightCt {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 60px;
    height: 60px;
    background-color: ghostwhite;
    border-radius: 50px;
    margin-left: 12px;
  }
}


// social Icons
