<section>
    <div>
        <img src="/assets/img/team-white.png" alt="">
        <h3>Über uns</h3>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit officia, at id eveniet repellat quidem magnam itaque omnis vel natus voluptatum. Dolore repudiandae, sequi officia qui voluptates autem iure laborum!</span>
    </div>
    <div>
        <img src="/assets/img/daumen-hoch-white.png" alt="">
        <h3>Service</h3>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit officia, at id eveniet repellat quidem magnam itaque omnis vel natus voluptatum. Dolore repudiandae, sequi officia qui voluptates autem iure laborum!</span>
    </div>
    <div>
        <img src="/assets/img/post-white.png" alt="">
        <h3>Kontakt</h3>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit officia, at id eveniet repellat quidem magnam itaque omnis vel natus voluptatum. Dolore repudiandae, sequi officia qui voluptates autem iure laborum!</span>
    </div>
</section>