<section>
    <div>
        <h3>Kontakt</h3>
        <div>
            <span>Mail:</span>
            <span>office&#64;dealcheckers.de</span>
        </div>
    </div>
    <div class="shopHoursContainer">
        <h3>Öffnungszeiten</h3>
        <span>Montag: 10:00 - 17:00 Uhr</span>
        <span>Dienstag: 10:00 - 17:00 Uhr</span>
        <span>Mittwoch: 10:00 - 17:00 Uhr</span>
        <span>Donnerstag: 10:00 - 17:00 Uhr</span>
        <span>Freitag: 10:00 - 17:00 Uhr</span>
        <span>Samstag: 10:00 - 17:00 Uhr</span>
    </div>
</section>