nav {
    background-color: #083049;
    padding: 0 100px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: auto;
    height: 80px;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div a {
    color: ghostwhite;
    text-align: center;
    font-size: 32px;
    margin-left: 24px;
    width: max-content;
    padding: 0 50px;
    cursor: pointer;
    font-family: "Passion One", sans-serif;
    display: inline-block;

    &:hover {
        color: #032c3e;
        background-image: url('/assets/img/highlight4.png');
        background-size: cover;
        background-position: center;
    }
}
