.nav {
    background-color: #083049;
    padding: 0 100px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    width: auto;
    height: 260px;
    cursor: pointer;
}

.nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav div a {
    color: ghostwhite;
    text-align: center;
    font-size: 32px;
    margin-left: 24px;
    width: max-content;
    padding: 0 50px;
    cursor: pointer;
    font-family: "Passion One", sans-serif;
    display: inline-block;
    line-height: 36px;

    &:hover {
        color: #032c3e;
        background-image: url('/assets/img/highlight4.png');
        background-size: cover;
        background-position: center;
    }
}



// Mobile Nav
.navMobile {
    background-color: #083049;
    padding: 0 100px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMobile img {
    width: auto;
    height: 200px;
    cursor: pointer;
}

/* From Uiverse.io by Ali-Tahmazi99 */ 
input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }
  
  .bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
  }
  
  .bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: #ffff01;;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
  }
  
  .bar span.top {
    top: 0;
  }
  
  .bar span.middle {
    top: 17px;
  }
  
  .bar span.bottom {
    bottom: 0;
  }
  
  input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
    &:hover {
        box-shadow: 0 0 10px #495057;
    }
  }
  
  input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
    &:hover {
        box-shadow: 0 0 10px #495057;
    }
  }
  
  input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
  }



@media only screen and (max-width: 1400px) {
    .nav div a {
        font-size: 26px;
        margin-left: 0px;
        padding: 0 34px;
        line-height: 26px;
    }
}


@media only screen and (min-width: 1200px) {
    .navMobile {
        display: none;
    }
}


@media only screen and (max-width: 1200px) {
    .nav {
        display: none;
    }
}

