<nav class="nav">
    <img [routerLink]="['/']" src="/assets/img/checkerLogo.png" alt="">
    <div>
        <a href="#">Smartphone Verträge<br>(Comming Soon)</a>
        <a href="#">Solarenergie<br>(Comming Soon)</a>
        <a href="#formComponent">Kontakt</a>
    </div>
</nav>

<nav class="navMobile">
    <img [routerLink]="['/']" src="/assets/img/checkerLogo.png" alt="">
    <!-- <div>
        <a href="#">Smartphone Verträge<br>(Comming Soon)</a>
        <a href="#">Solarenergie<br>(Comming Soon)</a>
        <a href="#formComponent">Kontakt</a>
    </div> -->
</nav>