section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 100px;
    background-color: #083049;
}

.headline {
    color: #ffff01;
    // text-decoration: underline #F32013;
    text-shadow: 0px 0px 9px rgb(0, 0, 0);
}

.redUnderline {
    text-decoration: underline #F32013;
}




// Whatsapp
  
.hover-image {
    width: 80px;
    height: 80px;

    &:hover {
        content: url('/assets/img/sozial (3).png');
    }
}

.whatsappCt {
    min-width: fit-content;
}


.mailCt {
    position: relative;
    min-height: 80px;
    min-width: 80px;

    &:hover {
        .mailMarker{
            content: url('/assets/img/sozial (6).png')
        }
        svg {
            stroke: white;
        }
    }

    .mailMarker {
        width: 100%;
        height: 100%;
    }
    svg {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}



// Button
/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: 1px solid #F2FA1B;
    background: linear-gradient(to right, #F2FA1B, #032c3e);
    color: ghostwhite;
    overflow: hidden;

    &:hover {
        color: ghostwhite;
    }
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: #083049;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}