<section class="py-24">
    <div class="max-w-7xl mx-auto px-5 sm:px-10 md:px-12 lg:px-5 flex flex-col md:flex-row gap-16">
        <div class="flex md:flex-1">
            <img src="/assets/img/pexels-aleksandar-pasaric-2603464.jpg" alt="creative agency " width="1300" class="w-full md:h-full object-cover rounded-lg">
        </div>
        <div class="md:w-1/2 space-y-12 text-gray-700 dark:text-gray-300 md:py-8">
            <h2 class=" headline text-gray-900 dark:text-dark font-semibold text-2xl sm:text-3xl md:text-4xl">
                Dein optimaler Energievertrag für Zuhause
            </h2>
            <p>Was für dich vielleicht so lästig ist wie das Ausfüllen von Steuerformularen, erledigen wir mit echter Begeisterung! Unser Ziel ist es, dir die besten und günstigsten Tarife für Strom und Gas zu bieten.
                <br><br>
                <mark>Alle 2 Jahre prüfen wir automatisch die Marktangebote</mark> und finden den günstigsten Anbieter für dich – so musst du dich weder um die Kündigung deines alten Vertrags kümmern, noch selbst nach Alternativen suchen. Alles wird von uns erledigt, und <mark>wir brauchen am Ende nur dein Okay und deine Unterschrift. Statt mit Formularen und endlosen Vergleichen</mark> bieten wir dir maßgeschneiderte Verträge und volle Transparenz. Lass uns gemeinsam deinen idealen Energievertrag finden – ob telefonisch, per Mail oder ganz bequem über WhatsApp. Wir freuen uns darauf, dir mit Rat und Tat zur Seite zu stehen!
            </p>
            <div class="grid gap-6 sm:grid-cols-2">
                <a href="tel:+491739995710" class="flex gap-x-6 items-center">
                    <img src="/assets/img/sozial (5).png" alt="WhatsApp Icon" class="hover-image">
                    <div class="space-y-0.5 flex flex-col flex-1 whatsappCt">
                      <p class="text-foreground">WhatsApp / Anruf</p>
                      <p class="font-semibold text-gray-900 dark:text-white text-lg">0173 9995710</p>
                    </div>
                  </a>
                <a href="mailto:feuer.energy&#64;gmail.com" class="flex gap-x-6 items-center">
                    <div class="mailCt">
                        <img class="mailMarker" src="/assets/img/sozial (4).png" alt="">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#cf322b" class="w-6 h-6 mailIcon">
                            <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
                        </svg>
                    </div>
                    <div class="space-y-0.5 flex flex-col flex-1">
                        <p class="text-foreground">Sende uns eine E-Mail</p>
                        <p class="font-semibold text-gray-900 dark:text-white text-lg">feuer.energy&#64;gmail.com</p>
                    </div>
                </a>
            </div>
            <button class="cssbuttons-io">
                <span>Mehr erfahren</span>
            </button>
        </div>
    </div>
    </section>