<section class="py-24">
    <div class="max-w-7xl mx-auto px-5 sm:px-10 md:px-12 lg:px-5 flex flex-col md:flex-row gap-16">
        <div class="flex md:flex-1">
            <img src="/assets/img/Photo_Face.png" alt="creative agency " width="1300" class="w-full md:h-full object-cover rounded-lg">
        </div>
        <div class="pd-bottom-100 md:w-1/2 space-y-12 text-white-700 dark:text-gray-300 md:py-8">
            <h2 class=" headline text-gray-900 dark:text-dark font-semibold text-2xl sm:text-3xl md:text-4xl">
                Optimaler Energievertrag für Zuhause
            </h2>
            <p class="serviceContent">
                <mark>Alle 2 Jahre prüfen wir automatisch die Marktangebote</mark> und finden den günstigsten Anbieter für dich – so musst du dich weder um die Kündigung deines alten Vertrags kümmern, noch selbst nach Alternativen suchen. Alles wird von uns erledigt, und <mark>wir brauchen am Ende nur dein Okay und deine Unterschrift. Statt mit Formularen und endlosen Vergleichen</mark> bieten wir dir maßgeschneiderte Verträge und volle Transparenz.
                <br><br>
                Lass uns gemeinsam deinen idealen Energievertrag finden <mark class="redMarker">– ob telefonisch, per Mail oder ganz bequem über WhatsApp.</mark> Wir freuen uns darauf, dir mit Rat und Tat zur Seite zu stehen!
            </p>
            <div class="grid gap-6 sm:grid-cols-2">
                <a href="https://wa.me/1739995710" title="Share on whatsapp" class="flex gap-x-6 items-center">
                    <img src="/assets/img/sozial (5).png" alt="WhatsApp Icon" class="hover-image">
                    <div class="space-y-0.5 flex flex-col flex-1 whatsappCt">
                      <p class="text-foreground">WhatsApp / Anruf</p>
                      <p class="font-semibold text-gray-900 dark:text-white text-lg">0173 9995710</p>
                    </div>
                  </a>
                <a href="mailto:office&#64;dealcheckers.de" class="flex gap-x-6 items-center">
                    <div class="mailCt">
                        <img class="mailMarker" src="/assets/img/sozial (4).png" alt="">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#cf322b" class="w-6 h-6 mailIcon">
                            <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
                        </svg>
                    </div>
                    <div class="space-y-0.5 flex flex-col flex-1">
                        <p class="text-foreground">Sende uns eine E-Mail</p>
                        <p class="font-semibold text-gray-900 dark:text-white text-lg">feuer.energy&#64;gmail.com</p>
                    </div>
                </a>
            </div>
            <button class="cssbuttons-io">
                <span>Mehr erfahren</span>
            </button>
        </div>
    </div>
    </section>