<!-- <app-nav></app-nav>
<app-header></app-header>
<app-call-to-meeting></app-call-to-meeting>
<app-our-service></app-our-service>
<app-sponsoring-banner></app-sponsoring-banner>
<app-contact-form id="formComponent"></app-contact-form>
<app-footer></app-footer> -->

<!-- <app-service-banner></app-service-banner> -->
<!-- <app-roadmap></app-roadmap> -->



<!-- Down-section for Beta Version -->

<app-nav></app-nav>
<app-our-service></app-our-service>
<app-sponsoring-banner></app-sponsoring-banner>
<app-call-to-meeting></app-call-to-meeting>
<app-contact-form id="formComponent"></app-contact-form>
<app-footer></app-footer>