section {
    background-color: #083049;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;

    .impressum {

        h1 {
            font-size: 32px;
            color: #ffff01;
        }
        h2 {
            color: #ffff01;
        }
        p {
            color: ghostwhite;
        }
    }
}