<section>
    <div class="headline">
        <img src="/assets/img/highlight3.png" alt="">
        <h2 class="text-2xl font-bold md:text-3xl dark:text-white">Hohe Nachzahlung? Jetzt handeln!</h2>
    </div>
    <p class="leading-relaxed text-base">Das ist frustrierend! Die Energiepreise sind überteuert, und es fühlt sich an, als würden die großen Konzerne nur an ihrem eigenen Profit interessiert sein. Aber das muss nicht sein! Wir stehen bereit, um dir zu helfen.
        Wir finden den besten Tarif für dich, kümmern uns um den gesamten Wechselprozess und sorgen dafür, dass du künftig weniger zahlst. Du musst dich um nichts kümmern – wir erledigen alles für dich!
        <br><br>
        Klicke jetzt auf den Button, vereinbare einen Termin und lass uns gemeinsam die Kontrolle über deine Energiekosten zurückgewinnen! Deine Ersparnisse warten auf dich!</p>
        
        <button (click)="openDialog()">
            <span>Termin vereinbaren</span>
        </button>

        <!-- dialog -->
        <div class="dialogContainer">
            <div *ngIf="toggleDialog" class="brutal-subscribe">
                <div class="brutal-subscribe__container">
                    <div class="brutal-subscribe__header">
                    <span class="brutal-subscribe__title">Jetzt Termin planen</span>
                    <span class="brutal-subscribe__subtitle"
                        >Wir melden uns bei dir</span
                    >
                    </div>
                    <div class="brutal-container">
                        <div>
                            <img src="/assets/img/anruf.png" alt="">
                        </div>
                        <div>
                            <img src="/assets/img/whatsapp.png" alt="">
                        </div>
                    </div>
                    <div (click)="closeDialog()" class="brutal-subscribe__decor">SCHLIEßEN</div>
                </div>
            </div>
        </div>

</section>