@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */
$primary-color: #fee100; // Blau
$secondary-color: #032c3e; // Grün
$accent-color: #ffff01; // Rot
$background-color: #083049; // Hellgrau
$text-color: #ffffff; // Dunkelgrau

body {
    margin: 0;
}