@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */
$primary-color: #fee100; // darkGelb nicht konsistent mit website / vielleicht als hover nutzbar
$secondary-color: #032c3e; // text
$accent-color: #ffff01; // gelb
$background-color: #083049; // background-color
$text-color: #ffffff; // white
$danger-red: #F32013; // Red
$text-marker: #F2FA1B; // highlighter


* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}